<div class="container">

    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Unit in Stock</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of products" class="align-middle">
                <td><img src="{{item.imageUrl}}" alt="" height="70"></td>
                <td>{{item.name}}</td>
                <td>{{item.unitPrice | currency: 'USD'}}</td>
                <td>{{item.unitsInStock}}</td>
            </tr>

        </tbody>
    </table>
</div>